/* Allgemeine Style-Einstellungen (HTML, Body) */

/* Eigene Schriftart (optional)*/
/*
@font-face {
  font-family: 'Black Ops One';
  src: url(BlackOpsOne.ttf);
}
*/

html,body{
  /*font-family: 'Black Ops One',serif;*/
  font-family: Arial, Helvetica, sans-serif;
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin:0;
  padding:0;
  background: #222222;
  color: #FACC2E;
  font-size:20px;
  text-align: center;
}

a {
  color: #FACC2E;
  text-decoration: none;
}


/* Startseite */
#logo{
  width: 75vw;
  height: 75vw;
  margin: 4vw 12.5vw 0 12.5vw;
  background: url(logo.png);
  background-size: cover;
}

.option-button{
  width: 60vw;
  margin: 4vw 20vw;
  padding: 2vw 0;
  border: 0.75vw solid #FACC2E;
  box-sizing: border-box;
  border-radius: 1.5vw;
  font-size: 4vw;
}

.option-button:active{
  background: #FACC2E;
  color:#222222;
}

.copyright{
  clear: left;
  width: 50vw;
  margin: 0 25vw;
  padding-top: 6vw;
  font-size: 2vw;
}


/* main contentarea */
#main-content{
  position: relative;
  float: left;
  clear: left;
  width: 100vw;
  height: 100vh;
  margin: 0;
}

/* dice styles */
.dice{
  display:inline-block;
  width: 80vw;
  height: 80vw;
  margin: 10vw;
  box-sizing: border-box;
  border:0;
  border-radius: 5vw;
  background: #FACC2E;
  color:#ffffff;
  font-size: 68vw;
}


/* controls style (bottom) */
#controls{
  position: absolute;
  bottom: 0;
  width: 100vw;
  height:auto;
  margin: 0;
  padding: 4vw 0;
  background: #404040;
}

.rollButton{
  float: left;
  width:45vw;
  height:15vw;
  margin: 0 27.5vw;
  padding-top: 3vw;
  background: #ffffff;
  border: 0.75vw solid #FACC2E;
  box-sizing: border-box;
  border-radius: 1.5vw;
  font-size:9vw;
  line-height: 9vw;
}